mat-dialog-actions {
  justify-content: flex-end;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  text-align: center;
}
