<div class="container">
<h2>Chosen locations</h2>
<div class="locations-container">
<mat-card *ngFor="let location of locations">
  <mat-card-content style="padding: 5px" (click)="locationClicked(location)">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <span style="text-align: start">{{location.display_name | stringToXComma : 2}}</span>
      <button mat-button (click)="removeLocation($event, location)">X</button>
    </div>
  </mat-card-content>
</mat-card>
</div>
<div class="buttons-container">
  <button class="option-button" mat-raised-button color="primary" [disabled]="this.locations.length ==0">Create<br>travel plan</button>
  <button class="option-button" mat-stroked-button color="primary" [disabled]="this.locations.length ==0" (click)="removeAllLocations()">Remove all locations</button>
</div>
</div>
