<mat-spinner *ngIf="waitingForData"></mat-spinner>
<div class="container">
  <div class="left-column column">
    <div *ngIf="trip">
      <h1>{{trip.name}}</h1>
    </div>
    <mat-list class="locations-list">
      <mat-list-item *ngFor="let location of trip?.tripPoints">
        <div class="location-item" (click)="locationClicked($event, location)">
          <mat-checkbox [(ngModel)]="location.visited" (click)="checkboxClicked(location)"></mat-checkbox>
          <span>{{location.orderInTrip + 1}}.&nbsp;{{location.name | stringToXComma : 2}}</span>
        </div>
      </mat-list-item>
    </mat-list>

    <div class="action-buttons-container" style="margin-top:16px">
      <button mat-raised-button color="primary" class="action-button" (click)="onTripHistoryClick()" >Trip History</button>
      <button mat-raised-button class="action-button" (click)="onEditTripClick()">Edit Trip</button>
    </div>
  </div>
  <div class="right-column column">
    <div class="map-frame" >
      <div id="info-map"
           leaflet
           [leafletOptions]="options"
           (leafletMapReady)="onMapReady($event)"
      ></div>
    </div>
  </div>
</div>
