.column {
  width: 50%;
  margin: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 90%;
}

.action-button {
  flex-grow: 1;
  margin: 8px;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.map-frame {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  padding: 6px;
}

#info-map {
  height: 100%;
}

.locations-list{
  height: 80%;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .action-buttons-container {
    flex-direction: column;
  }

  .action-button {
    margin: 8px 0;
  }

  .locations-list{
    overflow-y: auto;
  }

  .column {
    width: 100%;
  }
  .map-frame{
    height: 50vh;
  }
}
