<div class="container">
  <div>
  <h1>Planned:</h1>
  <mat-card *ngFor="let trip of allPlannedTrips" [@fadeInOut]>
    <mat-card-content routerLink="{{trip.id}}">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span style="text-align: start">{{trip.name}}</span>
        <div style="display: flex; align-items: center;">
          <button mat-button (click)="setAsCompeted($event,trip)">
            Set as completed
          </button>
          <button mat-button (click)="onRemoveClicked($event, trip)">
            Remove
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
  <div>
  <h1>Completed:</h1>
  <mat-card *ngFor="let trip of allCompletedTrips" [@fadeInOut]>
    <mat-card-content routerLink="{{trip.id}}">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span style="text-align: start">{{trip.name}}</span>
        <div style="display: flex; align-items: center;">
          <button mat-button (click)="setAsPlanned($event,trip)">
            Set as planned
          </button>
          <button mat-button (click)="onRemoveClicked($event, trip)">
            Remove
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
