<div class="container">
  <mat-spinner *ngIf="waitingForData"></mat-spinner>

  <div class="left-column column">
    <div *ngIf="trip">
      <h1>{{trip.name}}</h1>
    </div>

    <div class="locations-list">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let location of trip?.tripPoints">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{location.name | stringToXComma : 2}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="action-buttons-container">
            <button mat-raised-button color="primary" class="action-button" (click)="onAddPhoto(location)">Add photo
            </button>
            <button mat-raised-button color="accent" class="action-button" (click)="onAddComment(location)">Add
              comment
            </button>
            <button mat-raised-button class="action-button" (click)="onAddBill(location)">Add bill</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="margin: 16px 0;">
      <button mat-raised-button color="primary" (click)="goBack()">Go back to trip</button>
    </div>
  </div>
  <div class="right-column column">
    <mat-button-toggle-group [(ngModel)]="rightColumnDisplay" aria-label="Font Style" (change)="onToggleChange()">
      <mat-button-toggle value="photos">Photos</mat-button-toggle>
      <mat-button-toggle value="comments">Comments</mat-button-toggle>
      <mat-button-toggle value="bills">Bills</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="rightColumnDisplay === 'photos'" class="photos-list right-column-content">
      <div *ngFor="let tripPoint of trip?.tripPoints">
        <div *ngIf="tripPoint.tripPhotos.length > 0">
          <mat-card style="background-color: #4d4d4d">
            <mat-card-header>
              <mat-card-title>{{tripPoint.name | stringToXComma : 2}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card *ngFor="let photo of tripPoint.tripPhotos" class="photo-card" >
                <mat-card-header>
                </mat-card-header>
                <mat-card-content (click)="photoClicked(tripPoint,photo)">
                          <img [src]="getPhoto(photo.uuid)" alt="Photo">
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="rightColumnDisplay === 'comments'" class="comments-list right-column-content">
      <div *ngFor="let tripPoint of trip?.tripPoints">
        <div *ngIf="tripPoint.tripComments.length > 0">
          <mat-card style="background-color: #4d4d4d">
            <mat-card-header>
              <mat-card-title>{{tripPoint.name | stringToXComma : 2}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card *ngFor="let comment of tripPoint.tripComments">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{comment.title}}</mat-card-title>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{comment.content}}
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="onEditComment(tripPoint,comment)">
                    Edit
                  </button>
                  <button mat-raised-button (click)="onDeleteComment(tripPoint, comment)">
                    Delete
                  </button>
                </mat-card-actions>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="rightColumnDisplay === 'bills'" class="bills-list right-column-content">
      <div *ngFor="let tripPoint of trip?.tripPoints">
        <div *ngIf="tripPoint.tripBills.length > 0">
          <mat-card style="background-color: #4d4d4d">
            <mat-card-header>
              <mat-card-title>{{tripPoint.name | stringToXComma : 2}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-card *ngFor="let bill of tripPoint.tripBills" class="bill-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{bill.name}}</mat-card-title>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{bill.price}}&nbsp;&nbsp;{{bill.currency}}
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="onEditBill(tripPoint,bill)">
                    Edit
                  </button>
                  <button mat-raised-button (click)="onDeleteBill(tripPoint, bill)">
                    Delete
                  </button>
                </mat-card-actions>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

