.column {
  width: 50%;
  margin: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 90%;
}

.locations-list{
  height: 90%;
  overflow-y: auto;
}

mat-button-toggle {
  width: 100%;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.action-button {
  flex-grow: 1;
  margin: 8px;
}

mat-card {
  margin: 6px;
}

mat-card-actions button {
  margin: 0 4px;
}

.bill-card {
  width: auto !important;
  max-width: 90% !important;
  display: inline-block !important;
}

.photo-card {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  position: relative;
}

.photo-card:hover {
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 1);
}

.photo-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}



.bill-details {
  display: flex;
  align-items: center;
}

.bill-actions {
  display: flex;
  gap: 8px;
}

.right-column-content {
  overflow-y: auto;
  height: 100%;
}

mat-card-content {
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .action-buttons-container {
    flex-direction: column;
  }

  .action-button {
    margin: 8px 0;
  }

  .locations-list{
    overflow-y: auto;
  }

  .column {
    width: 100%;
    height: auto;
  }
}
