.container {
  height: 80vh;
  margin-top: 12px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.column {
  display: inline-block;
  height: 99%;
  text-align: center;
  vertical-align: top;
  margin-left: 6px;
  margin-right: 6px;
}

.leftColumn {
  width: 30%;
  overflow: auto;
}

.centerColumn {
  width: 40%;
}

.rightColumn {
  width: 30%;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .column {
    width: 80%;
    margin: 0 10%;
  }

  .centerColumn {
    height: 400px;
  }

  .rightColumn, .leftColumn {
    height: auto;
  }
}
