<h2 mat-dialog-title>Choose first and last location</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>First location</mat-label>
        <mat-select [(ngModel)]="selectedLocation1" placeholder="First location">
            <mat-option [value]="undefined">Doesn't Matter</mat-option>
            <mat-option *ngFor="let location of locations" [value]="location">
                {{location.orderInTrip + 1}}. {{location.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last location</mat-label>
        <mat-select [(ngModel)]="selectedLocation2" placeholder="Last location">
            <mat-option [value]="undefined">Doesn't Matter</mat-option>
            <mat-option *ngFor="let location of locations" [value]="location">
                {{location.orderInTrip + 1}}. {{location.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="accent" (click)="onRouteSelected()">Auto route</button>
</mat-dialog-actions>
