<div class="container">
<div class="input-container">
  <mat-form-field  class="input-field" >
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="inputData" (keydown.enter)="fetchData()"/>
  </mat-form-field>
  <button mat-raised-button color="primary" class="search-button" (click)="fetchData()">Search</button>

</div>
<div class="locations-list" *ngIf="serverData">
  <mat-radio-group [(ngModel)]="selectedLocation" (change)="onLocationChange(selectedLocation)">
    <mat-radio-button *ngFor="let location of serverData" [value]="location">
      {{location.display_name}}
    </mat-radio-button>
  </mat-radio-group>
</div>
</div>
