<!-- search-place-column.component.html -->
<div class="input-container">
  <mat-form-field  class="input-field" >
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="inputData"/>
  </mat-form-field>
  <button mat-raised-button color="primary" class="search-button" (click)="fetchData()">Search</button>

</div>
<div *ngIf="serverData">
  <div *ngFor="let location of serverData">
    <ul>
      <li>{{location.display_name}}</li>
      <li>{{location.lat}}</li>
      <li>{{location.lon}}</li>
    </ul>
    <br>
  </div>
</div>
