<div class="input-container">
  <mat-form-field  class="input-field" >
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="inputData"/>
  </mat-form-field>
  <button mat-raised-button color="primary" class="search-button" (click)="fetchData()">Search</button>

</div>
<div *ngIf="serverData">
  <mat-selection-list  [multiple]="false">
    <mat-list-option  *ngFor="let location of serverData" [value]="location" (click)="onLocationChange(location)">
      {{location.display_name}}
    </mat-list-option>
  </mat-selection-list>
</div>
