<h2 mat-dialog-title>{{data.modalTitle}}<br>{{ data.tripPoint.name | stringToXComma : 2 }}</h2>
<mat-dialog-content>
  <mat-form-field class="comment-title">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="commentForm.title" name="title" type="string" required maxlength="255">
  </mat-form-field>
  <mat-form-field class="comment-content">
    <mat-label>Comment</mat-label>
    <textarea matInput [(ngModel)]="commentForm.content" name="content" type="string" required maxlength="255"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isConfirmDisabled()">Confirm</button>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
