.column {
    width: 50%;
    margin: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 90%;
}

.locations-list {
    height: 90%;
    overflow-y: auto;
}

.location-item {
    background-color: #424242;
    margin: 6px 0;
}

.action-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.action-button {
    flex-grow: 1;
    margin: 8px;
}

.location-item-content{
    display: flex;
    align-items: center;
}

.location-item-content-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location-item-content-button {
    margin: 0 4px;
}

.location-item:hover {
    background-color: #4d4d4d;
    cursor: pointer;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.location-item:last-child {
    border: none;
}

.locations-list.cdk-drop-list-dragging .location-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.search-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

trip-name-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-frame {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    padding: 6px;
    position: relative;
}

#edit-map {
    height: 100%;
}

.map-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
}

.map-buttons button {
    margin: 4px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 95%;
    }

    .action-buttons-container {
        flex-direction: column;
    }

    .action-button {
        margin: 8px 0;
    }

    .locations-list{
        overflow-y: auto;
    }

    .column {
        width: 100%;
        height: auto;
    }
    .map-frame{
        height: 50vh;
    }
}
