<div class="spinner-container" *ngIf="waitingForData">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!waitingForData && trip">
    <div class="column">
        <div class="trip-name-row">
            <mat-form-field>
                <mat-label>Trip name</mat-label>
                <input matInput [(ngModel)]="trip.name" minlength="1" maxlength="32"/>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="trip.isCompleted" style="margin-left: auto">Trip Completed</mat-checkbox>
        </div>
        <mat-list cdkDropList class="locations-list" (cdkDropListDropped)="drop($event)">
            <mat-list-item class=location-item *ngFor="let location of trip?.tripPoints"
                           cdkDrag (click)="onLocationClicked(location)">
                <div class=location-item-content>
                    <span style="width: 80%; overflow-x: hidden">{{location.orderInTrip + 1}}.&nbsp;{{location.name}}</span>
                    <div class="location-item-content-buttons">
                        <button mat-raised-button color="primary" class="location-item-content-button"
                                (click)="onLocationEdit(location)">Edit
                        </button>
                        <button mat-raised-button class="location-item-content-button"
                                (click)="onLocationRemove(location)">X
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div class="action-buttons-container">
            <button mat-raised-button color="primary" class="action-button" (click)="onSaveChanges()">Save changes
            </button>
            <button mat-raised-button color="accent" class="action-button" (click)="onAutoRoute()">Auto route
            </button>
            <button mat-raised-button class="action-button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
    <div class="column">
        <div class="search-row">
            <mat-form-field style="flex-grow: 5">
                <mat-label>Search for more location</mat-label>
                <input matInput [(ngModel)]="newPlaceInput" (keydown.enter)="fetchPointsFromApi()"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayLocationName">
                    <mat-option *ngFor="let location of fetchedLocations" [value]="location"  >
                        {{ location.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="map-frame" >
            <div id="edit-map"
                 leaflet
                 [leafletOptions]="options"
                 (leafletMapReady)="onMapReady($event)"
            ></div>
            <div class="map-buttons" *ngIf="newLocation">
                <button mat-raised-button color="primary" (click)="onAddLocation()" >Add location</button>
                <button mat-raised-button (click)="onClearMap()">Clear map</button>
            </div>
        </div>
    </div>
</div>
